#lastEstimate {
  display: block;
  text-align: right;
}

.imgDiv {
  margin: 20px 0;
  text-align: center;
}

.imgDiv img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid var(--base);
  background: white;
  transition: all 0.3s ease;
}

.result {
  margin: 20px 0;
  padding: 15px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
